mat-drawer {
  padding: 0 20px 20px 20px;
}

mat-button-toggle {
  font-weight: normal;
  font-size: 14px;
}

.chart-container {
  display: block;
  min-height: 350px;
}

mat-card-title {
  font-size: 16px;
}
