<mat-card>
  <mat-card-content>
    <div fxLayout="row">
      <div fxFlex fxLayout fxLayoutAlign="end">
        <button mat-raised-button routerLink="/alerts/group/new" color="primary">Add Alert Group</button>
      </div>
    </div>
    <div fxLayout="column">
      <div fxLayout="row" *ngFor="let alertGroup of alertGroups; trackBy: alertGroupsTrackByFn">
        <button mat-icon-button aria-label="Remove alert group" (click)="removeAlertGroup(alertGroup.code)">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
        <button mat-icon-button aria-label="Edit alert group" (click)="editAlertGroup(alertGroup.code)">
          <mat-icon>create</mat-icon>
        </button>
        <div fxLayout="row" fxLayoutAlign="left center">
          <div class="alertGroupItem">{{alertGroup.name}} - {{alertGroup.contacts.length}} contact(s)</div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
