<form [formGroup]="alertForm" (submit)="submit()">
  <div fxLayout="column">
    <mat-form-field>
      <mat-label>Alert Name</mat-label>
      <input matNativeControl type="text" placeholder="Name" formControlName="name">
      <mat-hint>Choose a name that describes the alert</mat-hint>
    </mat-form-field>
    <app-chip-autocomplete
      placeholder="Alert groups"
      [filteredItems$]="alertGroupsItems$"
      formControlName="alertGroupCodes"></app-chip-autocomplete>
    <app-chip-autocomplete
      placeholder="Assets"
      [filteredItems$]="assetItems$"
      formControlName="assets"></app-chip-autocomplete>
    <mat-form-field>
      <mat-label>Sensor</mat-label>
      <select matNativeControl required formControlName="sensor">
        <option value="VI">Vibration</option>
        <option value="TI">Temperature (C)</option>
        <option value="CI">Humidity (%)</option>
        <option value="PI">Pressure (kPa)</option>
        <option value="EI">Battery (volts)</option>
        <option value="MI">RSSI (dBm)</option>
        <option value="II">Current (amps)</option>
        <option value="OI">Hydrophone - Summary (Pa-RMS)</option>
        <option value="NI">Hydrophone - Raw (mV)</option>
      </select>
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field>
      <mat-label>Min</mat-label>
      <input matNativeControl type="number" placeholder="Low" formControlName="low">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Max</mat-label>
      <input matNativeControl type="number" placeholder="High" formControlName="high">
    </mat-form-field>
  </div>
</form>
