<form [formGroup]="alertForm" (submit)="submit()">
  <div fxLayout="column">
    <mat-form-field>
      <mat-label>Alert Name</mat-label>
      <input matNativeControl type="text" placeholder="Name" formControlName="name">
      <mat-hint>Choose a name that describes the alert</mat-hint>
    </mat-form-field>
    <app-chip-autocomplete
      placeholder="Alert groups"
      [filteredItems$]="alertGroupsItems$"
      formControlName="alertGroups"></app-chip-autocomplete>
    <app-chip-autocomplete
      placeholder="Assets"
      [filteredItems$]="alertGroupsItems$"
      formControlName="assets"></app-chip-autocomplete>
    <mat-form-field>
      <mat-label>Sensor</mat-label>
      <input matNativeControl type="text" placeholder="Sensor" formControlName="sensor">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field>
      <mat-label>Min</mat-label>
      <input matNativeControl type="number" placeholder="Low" formControlName="low">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Max</mat-label>
      <input matNativeControl type="number" placeholder="High" formControlName="high">
    </mat-form-field>
  </div>
</form>
