<mat-card class="home-card">
  <mat-card-title>
    DAPAGEE IIoT Platform
  </mat-card-title>
  <mat-card-subtitle>
    Your Industrial IIoT Partner
  </mat-card-subtitle>
  <img mat-card-image src="assets/img/image-home.png">
  <mat-card-content>
    An easy to use web-based system to view the status of all of your equipment. You can manage your assets, your sensors
    and your alerts. The powerful alerting system will let you know when your equipment isn't running at full efficiency,
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button href="https://www.dapagee.com" color="primary">Learn More</a>
    <button mat-button routerLink="/login">Login</button>
  </mat-card-actions>
</mat-card>
