<app-header (sidenavToggle)="sidenav.toggle()"></app-header>
<div fxFill fxLayout="column">
  <div fxFlex.xs="100px" fxFlex.gt-xs="110px" class="header-spacer"></div>
  <div class="app-container" fxFlex fxFill>
    <mat-sidenav-container fxFill>
      <mat-sidenav #sidenav role="navigation">
        <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
      </mat-sidenav>
      <mat-sidenav-content fxFill>
        <main fxFill>
          <router-outlet></router-outlet>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
