/* Application-wide Styles */
h1 {
  color: #369;
  font-family: Lora, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Lora, sans-serif;
  font-weight: lighter;
}

input[type="text"], button {
  color: #333;
  font-family: Raleway, sans-serif;
}


mat-sidenav-container, mat-sidenav-content {
  transform: none !important;
}

mat-sidenav {
  width: 250px;
}

main {
  padding: 10px;
}
