/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Raleway, sans-serif;
}

app-header {
  position: fixed;
  width: 100%;
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.fab-add {
  right: 20px;
  bottom: 20px;
  position: fixed !important;
}

.field-full-width {
  width: 100%;
}

.header-row-client .mat-form-field-infix {
  border-top: 0 !important;
}

.header-row-client .mat-form-field-underline {
  display: none;
}

.header-row-client .mat-form-field-wrapper, .header-row-client .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  border-bottom: 0;
  padding-bottom: 0;
  font-size: 14px;
}

.header-row-client {
  height: 40px !important;
}

.card-add-edit {
  max-width: 800px;
  margin: auto;
}
